.section-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1.5rem;
    border-radius: 15%;
}

select {
    text-align: center;
    background-color: #e4ddd1;
    color: #a02515;
    border-radius: 10px;
}

button {
    color: #dcc7a3;
    font-weight: bolder;
    border-radius: 15px;
    background-color: #a54639;
    margin-left: 0.5rem;
    border-radius: 50px;
    width: 12rem;
}

button:hover {
    background-color: #a22919;
}

